@font-face {
    font-family: 'Alph';
    src: url('res/alph.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
}

a {
    font-family: 'Alph';
}

.container {
    display: block;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 0px solid black;
    height: 96vh;
    background-color: #2b2b2b;
    border-radius: 16px;
}

.titlecontainer {
    display: flex;
    align-items: center;
}

#icon {
    border-radius: 35%;
    width: 7vw;
    height: 7vw;
}

.title {
    margin-left: 2.5vw;
    font-size: 50px;
    color: #545454
}

.logocontainer {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    gap: 2.5vw;
}

.logocontainer img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

